:root {
  font-family: "Inter", Arial, sans-serif;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display:flex;
  place-items: center;
}

h1 {
  font-size: 96px;
  color: black;
  letter-spacing:  -4px;
  line-height: normal;
}

h2 {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 0px;
  margin-top: -40px;
  margin-bottom: 120px;
}

.back-button {
  padding-top: 20px;
}

.return-button {
  text-align: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 8px;
  font-size: 24px;
  font-family: inherit;
  background-color: #363636;
  cursor: pointer;
  transition: border-color 0.25s;
  color:white
}

button:hover {
  border-color: #8482fd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.selection-container {
background-color: #f3f3f3;
padding: 32px;
border-radius: 32px;
}
