:root {
  font-family: "Inter", Arial, sans-serif;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 6rem;
  color: black;
  letter-spacing: -4px;
  line-height: normal;
}

h2 {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
  line-height: 0rem;
  margin-top: -3rem;
  margin-bottom: 8rem;
}

h3 {
    text-align: left;
    font-size: 5rem;
    letter-spacing:  -0.2rem;
    
}

h5 {
    color: black;
    font-size: 2.5rem;
    letter-spacing:  -0.2rem;
    margin-top:3rem;
    margin-bottom:3rem;
}

button {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-family: inherit;
  background-color: #363636;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white
}

@media only screen and (max-width: 1024px) {
  h1 {
    white-space: nowrap;
    font-size: 5rem;
  }

  h2 {
    white-space: nowrap;
    font-size: 2rem;
  }

  h3{
    font-size:5vw;
  }

  h5{

  }

  .selection-container {
    flex-direction: column;
  }

  .add-button-container {
    justify-content: center;
  }

  button {
    font-size: 3vw;
    padding: 1.5vw;
    border-radius: 2vw;
  }

 
}



.back-button {
  padding-top: 20px;
}

.return-button {
  text-align: center;
  justify-content: center;
}



button:hover {
  border-color: #8482fd;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.selection-container {
  background-color: #f3f3f3;
  padding: 32px;
  border-radius: 32px;
}